{{>layout/header}}
<h2>login</h2><br><br>
<a href="javascript:" class="btn-social" data-social="google">google login</a>
<br>
<a href="javascript:" class="btn-social" data-social="kakao">kakao login</a>
<br>
<a href="javascript:" class="btn-social" data-social="naver">naver login</a>
<br>

<script src="/js/app/index.js"></script>
{{>layout/footer}}